html, body {
  height: 100%;
  margin: 0;
}

.carrossel-container {
  width: 100%;
  position: relative;
  background-color: #e5e0db;
  
}

.carrossel-container h1 {
  color: black;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carrossel-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carrossel-item {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.h1 {
  text-align: center;
  color: black;
  font-size: 15px;
  padding-bottom: 1px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

/* Slides – fundo neutro, as imagens cobrem */
.slide1, .slide2, .slide3, .slide4 {
  background: #e5e0db;
}

.carrossel-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Botões */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  width: 100%;
}

.btn img {
  width: 50px;
  transform: rotate(-90deg);
}

.btn-next {
  left: 47%;
}

.btn-prev {
  right: 47%;
}

.btn {
  outline: none; /* remove a borda ao focar */
}

/* opcional: para todos os botões do carrossel */
.btn:focus {
  outline: none;
  box-shadow: none;
}


/* Indicadores */
.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
  z-index: 20;
}

.indicator {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid #524b4b;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.carousel-indicators button {
    padding: 0;
}

.indicator.active,
.indicator:hover {
  width: 16px;
  height: 16px;
  border: 2px solid #524b4b;
}

@media (max-width: 1024px) {
  .carrossel-container {
    display: none;
  }
}